  
  .body{
margin: 0;
padding: 0;

  }

  .background_fixed{
    position: fixed;
    width: 100%;
    height: 85px;
    left: 0px;
    top: -20px;
    background-color: rgba(0, 0, 0, 0.874);
    filter: blur(0.2px);
    z-index: 10;
  }

  .header {
    height: 60px;
   /* border: 1px solid;*/
    position:relative;
    display: flex;
    overflow-y:hidden;
    overflow-x: hidden;
    justify-content: center;
    text-align: center;
z-index: 800;

  
  }

  .background_fixed.light {
    background-color: white;
  }
  
  .background_fixed.dark {
    background-color: #090909ea;
    color: white;
  }
  
  .background_fixed.orange {
    background-color: rgba(0, 30, 197, 0.8);
    color: black;
  }


  
  .themeIcons {
    display: flex;
    gap: 10px;
    position: absolute;
    right: -538px;
    top: 18px;
    z-index: 500;
  }
 
  .themeIcons:hover{
    transform: scale(1.1);
  }




  
  .div_in_header{
    display: flex;
    position: fixed;
    /*ICI TA CHANGER LE FIXED */
    z-index: 100;
  }

  .div_logo{
    position: relative;
    left: -240px;
    display: flex;
    filter: invert();
    
  }
  .div_logo.light{
    filter: none;
  }


  .logo{
    width: 42px;
    height: 42px;
  }
  .div_logo h1{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: black;
    display: flex;
    
  }

  .div_logo h1 p{
    font-weight: 500;
  }

  .ul {
    position:relative;
    margin: 0px;
    padding: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: "Inter", sans-serif;
    top: 25px;
   left: -230px;
   color: white;
    
  }
.ul.light{
  color: black;
}

  .active {
    font-weight: bold;
    color: #0070f3; /* Par exemple, une couleur distinctive */
    border-bottom: 1px solid ;
  }
  .active.orange{
    color: #000000;
  }
  
  .ooreedoo{
    height: 90px;
    width: 200px;
    position: absolute;
    top: -15px;
    left: -285px;
  }

  .li{
 margin-right: 50px;
 list-style-type: none;
 font-weight: 100;
 font-size:12px;
 transition: transform 0.2s; /* Animation sur le width et height */

  }
  .li:hover{
   transform: scale(1.1);
    color:#0070f3;
  }

  .li:hover.orange{
    color: #000000;
  }

  .profile{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    border:1px solid black;
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.008);
    top: 18px;
    left: 740px;
    transition: width 0.1s, height 0.1s; /* Animation sur le width et height */
    filter: invert();
  }
  .profile.light{
    filter: none;
  }
.profile:hover{
width: 27px;
height: 27px;
}
  .notif {
    position: absolute;
    width: 25px;
    height: 25px;
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.008);
    top: 18px;
    left: 700px;
    transition: width 0.2s, height 0.2s; /* Animation sur le width et height */
    filter: invert();
  }
  .notif.light{
    filter: none;
  }
  

 /* .notif:hover {
    width: 28px;
    height: 28px;
  }*/
  
.input_search{
  position: absolute;
  left: 280px;
  top: 17px;
  width: 350px;
  background-color: rgb(205, 205, 205);
  border: none;
  padding: 9px;
  border-radius: 10px;
  color: #303030;
  background-image: url('/search.png');
  background-repeat: no-repeat;
  background-position: 10px center; /* Positionne l'icône */
  background-size: 12px 12px; /* Ajuste la taille de l'icône */
  padding-left: 30px; /* Crée un espace pour l'icône */
}

.search_results{
  position: absolute;
  top: 60px;
  left: 200px;
  width: max-content;
  height: auto;
  color: black;
  background-color: rgba(255, 255, 255, 0.882);
  border: 1px solid rgba(0, 0, 0, 0.163);
  border-radius: 5px;
  padding: 15px;
  display:block;
  text-align: start;
}
.video_item{
  display: flex;
}
.miniature{
width: 150px;
height: 80px;
border-radius: 8px;
margin-bottom: 10px;
}
.video_item div{
  position: relative;
  left: 10px;
  top: 20px;
}
.video_item p:nth-child(1){
  font-size: 15px;
  font-weight: 500;
  font-family: 'Inter' ,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-right: 0px;
  width: 250px;
  margin-bottom: 5px;
}
.Date_poste{
  font-size: 12px;
  color: grey;
}






  .p_page_name{
    color: rgba(0, 0, 0, 0.621);
    position: absolute;
    top: 100px;
    left: -270px;
    font-size: 12px;
    background-color: rgb(255, 255, 255);
    width: max-content;
    height: max-content;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 150px black;
  }
  @media (min-width: 1700px) and (max-width: 1800px) {
    .p_page_name{
      left: -320px;
    }
  }
  @media (min-width: 1800px) and (max-width: 7000px) {
    .p_page_name{
      left: -460px;
    }
  }
.flex_notif{
  display:flex;
}



  .notif_count {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 9px;
    position: absolute;
    top: 15px;
    left: 712px;
    border-radius: 50px;
    background-color: rgb(255, 83, 83);
    padding: 4px;
    width: 18px;
    z-index: 10;
  }
  



  @media screen and (max-width: 480px) {
 
    .header {
      height: 50px;
    }
    
  .ul {
    position:relative;
    margin: 0px;
    padding: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    color: black;
    font-family: "Inter", sans-serif;
    top: 25px;
   left: -55px;
    
  }
  .li{
 margin-right: 20px;
  }


  .profile{
    position: absolute;
    left: 280px;
  }
  .notif {
    position: absolute;
    width: 25px;
    height: 25px;
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.008);
    top: 18px;
    left: 240px;
    transition: width 0.2s, height 0.2s; /* Animation sur le width et height */
  }
    .input_search{ display:none;}
    .div_logo{display: none;}
      }

      @media (min-width: 1700px) and (max-width: 1800px) {
        .themeIcons{
          left: 985px;
        }
      }
      @media (min-width: 1800px) and (max-width: 7000px) {
        .div_logo{
          left: -300PX;
        }
        .ul{
          left: -320px;
        }
        .input_search {
          left: 200px;
          width: 430px;
        }
        .profile{
          left: 800px;
        }
        .notif{
          left: 760px;
        }
        .themeIcons{
          left: 1095px;
        }
        .notif_count {
          left: 770px;
        }
        .p_page_name{
          left: -400px;
        }
      }