.Report_div_all{
    color: black;
    width: 1500px;
    height: 1500px;
    max-height: 1500px;
    margin-left:-20px;
    height: auto;
    font-family: 'Inter','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 15px;
}

.Report_div_all h1{
margin-bottom: 25px;
}
.div_all_tableau{
    display:flex;
    width: 120%;
    position: relative;top: -10px;
   
}
.searchInput{
    position: relative;
    top: -30px;
    left: 360px;
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 10px;
    width: 300px;
    height: 35px;
    border: 1px solid;
    margin-bottom: -10px;
    background-image: url('/search.png');
    background-repeat: no-repeat;
    background-position: 10px center; /* Positionne l'icône */
    background-size: 12px 12px; /* Ajuste la taille de l'icône */
    padding-left: 30px; /* Crée un espace pour l'icône */
}
.roleFilter{
background-color: rgb(45, 56, 255);
color: white;
font-size: 13px;
width: max-content;
padding: 8px;
border:none;
border-radius: 5px;
position: relative;
left: 26%;
top: -30px;
}

.roleFilter option{
    background-color: white;
    color:black;
    
}

.roleFilter2{
    background-color: rgb(45, 56, 255);
    color: white;
    font-size: 13px;
    width: max-content;
    padding: 8px;
    border:none;
    border-radius: 5px;
    position: relative;
    left: 26%;
    top: -30px;
    }
    
    .roleFilter2 option{
        background-color: white;
        color:black;
        
    }

.btn_ajt_obj{
    margin-left: 235px;
    padding: 7px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 136, 255);
    border: 1px solid;
    border-radius: 5px;
    transition: transform 0.1s, background-color 0.3s;
}

.btn_ajt_obj:hover{
    transform: scale(1.05);
    background-color: rgb(0, 26, 255);
}


.flexing{
    display: flex;
    position: relative;
    left: -355px;
}

.flexing2{
    display: flex;
    position: relative;
    left: -360px;
}
.flexing2 button{
position: relative;
left: 1090px;
top: -20px;
}
.flexing2 select{
    position: relative;
left: 870px;
top: -20px;
}

.ajou_Button{
    position: relative;
    left: 81.5% ;
    top: -20px;
    cursor: pointer;
    padding: 8px 12px;
    border: none;
    background-color: #0070f3;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}
.info{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: grey;
    font-size: 13px;
    position: relative;
    top: 20px;
    left: -260px;

}
.but_actualiser{
    position: relative;
    left: 25% ;
    top: -30px;
    cursor: pointer;
    padding: 8px 12px;
    border: none;
    background-color: #0070f3;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.but_actualiser2{
    position: relative;
    left: 25% ;
    top: -30px;
    cursor: pointer;
    padding: 8px 12px;
    border: none;
    background-color: #0070f3;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}




.table_container {
    margin-top: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 1000px;
    padding: 10px;
    padding-right:50px ;
    margin-left: -10px;

}

.table {
    width: 1130px;
    border-collapse: collapse;
    margin: 0 auto;
    position: relative;
    left: -5px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    font-size: 13px;
    min-width: 900px;    
}

.table_error{
    width: 1090px;
    top:30px;
    border-collapse: collapse;
    position: relative;
    left: 00px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    font-size: 15px;
    height: 80px;
 margin-right: 90px;
}

.table_error th,
.table_error td {
    text-align: left;
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}


.table_error th {
    background-color: #ffffff;
    color: rgb(2, 2, 2);
    font-weight: 500;
    text-transform: uppercase;
    font-size:11px;

}

.table_error tbody tr:hover {
    background-color: #f1f1f1;
}

.table_error tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table_error td {
    color: #333;
}
.table_error tr td:nth-child(1){
    color: blue;
}
.table_error tr td:nth-child(2){
   display: flex;
}
.table_error p{
 position: relative;
 top: 15px;
 margin-left: 10px;
}




.table th,
.table td {
    text-align: left;
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;

}


.table th {
    background-color: #ffffff;
    color: rgb(2, 2, 2);
    font-weight: 500;
    text-transform: uppercase;    font-size:12px;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table td {
    color: #333;
}
.table tr td:nth-child(1){
    color: blue;
}
.table tr td:nth-child(2){
   display: flex;
}
.table p{
 position: relative;
 top: 15px;
 margin-left: 10px;
}

.table td:nth-child(2) p:hover{
  color: #0070f3;
  border-bottom: 1px solid;
  height:max-content;
  transform: scale(1.03);
}


.table_projet{
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    margin-left: 0px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    font-size: 13px;
    position: relative;
    left: -5px;
}

.table_container2{
    overflow-y: auto;
    height: 340px;
}

/* Scrollbar personnalisée pour Webkit (Chrome, Safari, etc.) */
.table_container2::-webkit-scrollbar {
    width: 8px; /* Réduit la largeur du scrollbar */
  }
  
  .table_container2::-webkit-scrollbar-track {
    background: #f7f7f7; /* Couleur de fond du track (où se déplace le scrollbar) */
    border-radius: 10px; /* Coins arrondis pour le track */
  }
  
  .table_container2::-webkit-scrollbar-thumb {
    background-color: #b3b3b3; /* Couleur du scrollbar */
    border-radius: 10px; /* Coins arrondis pour le scrollbar */
    border: 2px solid #f7f7f7; /* Ajouter un peu d'espace autour du scrollbar */
  }
  

.table_projet th,
.table_projet td {
    text-align: left;
    padding: 12px 11px;
    border-bottom: 1px solid #ddd;
}
.table_projet td:nth-child(2){
    position: relative;
    top: 0;
    height: 51px;
}
.table_projet td:nth-child(2) p{
    position: relative;
    top: 5px;
    max-width: 190px;
}

.projectNameContainer {
    position: relative;
    display: inline-block;
  }
  
  .deleteButtonContainer {
    display: none; /* Masquer par défaut */
    position: absolute;
    top: 50%;
    left: 100%;
    width: 35px;
    padding: 10px;
    border-radius: 10px;
    transform: translateY(-50%);
    z-index: 10;
    background-color: rgba(255, 0, 0, 0.414);
  }
  .deleteButtonContainer:hover{
    background-color: rgba(255, 0, 0, 0.856);
  }
  .projectNameContainer:hover .deleteButtonContainer {
    display: block; /* Afficher au survol */
    
  }
  
  .deleteButtonContainer button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    transition: transform 0.2s ease, opacity 0.2s ease;
  }
  
  .deleteButtonContainer button:hover {
    transform: scale(1.1);
    opacity: 0.8;
  }
  


.table_projet th {
    background-color: #ffffff;
    color: rgb(2, 2, 2);
    font-weight: 500;
    text-transform: uppercase;
}

.table_projet tbody tr:hover {
    background-color: #f1f1f1;
}

.table_projet tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table_projet td {
    color: #333;
}
.table_projet tr td:nth-child(1){
    color: blue;
    font-weight:lighter;
}
.table_projet tr td:nth-child(2){
   display: flex;
}

.table_projet button{
    position: relative;
    top: 0;
    left: 0;
    padding: 0px;
    cursor: pointer;
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    font-size: 12px;
    transition: color 0.1s ease;
    font-weight: 700;
}

.table_projet button:nth-child(1){
   margin-right: 20px;
}
.table_projet button:hover{
    color:#0369cf;
}
.rond{
    width: 10px;
    height: 10px;
}

.user_image{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.tr_table td:nth-child(4){
justify-content: center;
text-align: center;
}

.tr_table td:nth-child(5){
    justify-content: center;
    text-align: center;
    }

.arrow{
    width: 15px;
    height: 15px;
    position: relative;
    top: 4px;
    left: 0px;
  }

  .tr_table2 td:nth-child(4){
    justify-content: center;
    text-align: center;
    width: 100px;
    }
     
    .tr_table2 td:nth-child(5){
        justify-content: center;
        text-align: center;
        width: 100px;


        }
.roleContainer {
    position:relative;
    display: inline-block;
    
}



.mainButton {
    cursor: pointer;
    padding: 7px 11px;
    border: none;
    background-color: #0070f3;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s ease;
    
}

.mainButton2 {
    cursor: pointer;
    padding: 7px 11px;
    border: none;
    background-color: #57019d;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s ease;
    
}
.deleteButton{
    cursor: pointer;
    padding: 5px 8px;
    border: none;
    background-color: #f93a3a;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}
.trash_pic{
    width: 20px;
    height: 20px;
    filter: invert();
}



.trash_but button:nth-child(2){
    padding: 5px 8px;
    border: none;
    background-color: #f93a3a;

}
.trash{
    width: 14px;
    height: 14px; 
    filter: invert();
}


.mainButton:hover {
    background-color: #0369cf;
}

.roleOptions {
    position: absolute;
    top: -100%; /* Ajustez selon la hauteur du bouton principal */
    left: -40px;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5px ;
    width: 150px;
    
}

.optionButton {
    cursor: pointer;
    padding: 8px 12px;
    border: none;
    background-color: transparent;
    text-align: left;
    width: 100%;
    font-size: 14px;
    color: #333;
    transition: background-color 0.2s ease;
  
}

.optionButton:hover {
    background-color: #f0f0f0;
}



.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.pagination span{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    position: relative;top: 5px;
}

.pagination button {
    margin: 0 5px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    background-color: #0070e7;
    cursor: pointer;
    border-radius: 8px;
    border: none;
}

.pagination .activeButton {
    background-color: #003267;
    color: #ffffff;
    border-color: black;
}











/*-----PARTIE MODAL --------*/
.modal_container_profile{
    position: fixed;
    display: grid;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffffb8;
    border-radius: 10px;
    padding: 1000px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 500;
  }
  
.modal_container_rec_offre{
    background-color: #fff;
    padding: 60px;
    border-radius: 25px;
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 10, 0.2);
    width: 600px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.modal_container_rec_offre label{
font-size: 13px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
position: absolute;
left: 1115px;

}


.modal_container_rec_offre input{
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    width: 380px;
    height: 38px;
    padding: 15px;
    color: black;
   
}
.modal_container_rec_offre textarea{
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    width: 370px;
    max-width:370px ;
    min-width: 370px;
    height: 80px;
    max-height: 80px ;
    min-height: 80px ;
    padding: 15px;
    color: black;
   
}

.modal_container_rec_offre button{
    padding: 10px;
    border-radius:5px ;
    background-color: rgb(144, 0, 255);
    border:none;
    margin-right: 10px;
    position: relative;
    left: 0px;
}


.fileUpload {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.customFileLabel {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    width: 380px;
    border: 2px dotted rgb(22, 52, 136);
    border-radius: 5px;
    background-color: rgba(22, 52, 136, 0.059);
    transition: background-color 0.3s, border-color 0.3s;
}

.customFileLabel:hover {
    background-color: rgba(22, 52, 136, 0.1);
    border-color: rgb(22, 52, 136);
}

.uploadButton {
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 5px;
}

.fileName {
    font-size: 12px;
    color: #555;
}

.err_file {
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}

.err_message{
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    font-size: 14px;
}
/* Masquer l'input file */
.modal_file_choice {
    display: none;
}

/*FIN*/



  
.modal_container_rec_offre2{
    background-color: #fff;
    padding: 60px;
    border-radius: 25px;
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 10, 0.2);
    width: 800px;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 600px;
}

.modal_container_rec_offre2 button{
    padding: 10px;
    border-radius:5px ;
    background-color: rgb(144, 0, 255);
    border:none;
    margin-right: 10px;
    position: relative;
    left: 0px;
    margin-top: 20px;
}




/*-------------*/
@media (min-width: 1700px) and (max-width: 1800px) {
    .Report_div_all{
        margin-left: -40px;
    }
    .div_all_tableau{
        width: 130%;  
    }

    .but_actualiser2{
        margin-left: 130px;
    }
    
    
    .table {
        width: 1250px;
    }
    
    .table_error{
        width: 1245px;
    }
    
    
    .table_projet{
        width: 100%;
    }
    
    .table_container2{
        overflow-y: auto;
        height: 340px;
        
    }  .ajou_Button{
        left: 89%;
       }
}


@media (min-width: 1800px) and (max-width: 7000px) {  
    .Report_div_all{
        margin-left: -180px;
    }
    .div_all_tableau{
        width: 130%;  
    }

    .but_actualiser2{
        margin-left: 230px;
    }
    
    
    .flexing{
        position: relative;
        left: -355px;
    }
    
    .flexing2{
        display: flex;
        position: relative;
        left: -360px;
    }
    .flexing2 button{
    position: relative;
    left: 1090px;
    top: -20px;
    }
    .flexing2 select{
        position: relative;
    left: 870px;
    top: -20px;
    }
    
    .ajou_Button{
     left: 98%;
    }
    .info{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: grey;
        font-size: 13px;
        position: relative;
        top: 20px;
        left: -260px;
    
    }
  
    
    
    .table {
        width: 1350px;
    }
    
    .table_error{
        width: 1245px;
    }
    
    
    .table_projet{
        width: 115%;
    }
    
    .table_container2{
        overflow-y: auto;
        height: 340px;
    }
}
